.form-back {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ab6c6c;
}

.container {
    max-width: 960px;
  }

.form-img {
    display: flex;
    justify-content: center;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-back {
    background-color: #ab6c6c;
}

.text-pink {
    color: #ab6c6c;
    margin-left: 5px;
    text-decoration: none;
}

.invalid-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.link-pointer {
    cursor: pointer
}

#inputFile {
    display: none;
}

.labelInputFile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    // background-color: lightblue;
    // position: absolute;
    padding: 1rem;
    box-shadow: 0 0 10px -1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.labelInputFile img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.labelInputFile:active {
    transform: scale(0.9);
}

.ml-na {
    margin-left: 8px;
}