<main class="form-back bg-dark">
    <form class="form-signin needs-validation" [formGroup]="form" (submit)="submit()">
        <div class="row g-2">
            <!-- <div class="form-img">
                <img class="mb-4" src="https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/samesouls.png?alt=media&token=14ede50f-dcfc-41e3-8bea-03b90978e28a" alt="" width="120" height="120">
            </div> -->
            <h1 class="h3 mb-3 fw-normal">Registro</h1>

            <div class="ms-1 col-lg-5 d-flex align-items-center justify-content-center">
                <input formControlName="foto" type="file" accept=".png, .jpg,.jpeg" multiple
                    (change)="onUploadImg($event)" id="inputFile">

                <label for="inputFile" class="labelInputFile">
                    <img src="{{avatar}}" alt="">
                </label>
            </div>

            <div class="ml-na row col-lg-7 d-flex align-items-center justify-content-center">
                <div class="col-lg-12">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" id="firstName" placeholder="" value="">
                    
                    <p class="invalid-error"
                        *ngIf="form.get('nombre').invalid && (form.get('nombre').dirty || form.get('nombre').touched)">
                        Introduzca un nombre
                    </p>
                </div>
    
                <div class="col-lg-12">
                    <label for="lastName" class="form-label">Apellido <span class="text-muted">(Opcional)</span></label>
                    <input formControlName="apellidos" type="text" class="form-control" id="lastName" placeholder=""
                        value="">
                </div>
            </div>

            

            <div class="col-sm-6">
                <label for="username" class="form-label">Nombre de usuario</label>
                <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input formControlName="username" type="text" class="form-control" id="username"
                        placeholder="Username">
                </div>
                <p class="invalid-error"
                    *ngIf="form.get('username').invalid && (form.get('username').dirty || form.get('username').touched)">
                    Introduzca un nombre de usuario
                </p>
            </div>

            <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email"
                    placeholder="you@example.com">
                    
                <p class="invalid-error"
                *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
                Introduzca un email
            </p>
            </div>

            <div class="col-sm-6">
                <label for="password" class="form-label">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" id="address">
                
                <p class="invalid-error"
                    *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">
                    Introduzca una contraseña mínimo 6 carácteres
                </p>
            </div>

            <div class="col-sm-6">
                <label for="address" class="form-label">Repita la contraseña</label>
                <input formControlName="repeat_password" type="password" class="form-control" id="address">
                
                <p class="invalid-error"
                    *ngIf="(form.get('repeat_password').value != form.get('password').value) && (form.get('repeat_password').dirty || form.get('repeat_password').touched)">
                    La contraseña no coincide
                </p>
            </div>

            <button class="mt-4 w-100 btn btn-lg btn-back" type="submit" [disabled]="(form.invalid || (form.get('repeat_password').value != form.get('password').value))">Registrarse</button>
            <div>
                <p (click)="goTo('login')" class="text-pink link-pointer">Volver</p>
            </div>
        </div>
    </form>
</main>