<header class="p-2 bg-dark text-white mi-header">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    style="height: 100%;">
    <nav class="d-flex align-items-center justify-content-center me-md-auto ms-5">

      <a (click)="goTo('')" class="m-2 text-white text-decoration-none div-pointer">
        <!-- <img class="bi m-2" width="40" src="https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/samesouls.png?alt=media&token=14ede50f-dcfc-41e3-8bea-03b90978e28a" /> -->

        <span class="fs-3">SameSouls</span>
      </a>
      <a (click)="goTo('/artistas')" class="ms-4 m-2 text-white text-decoration-none div-pointer">

        <span class="fs-5">Artistas</span>
      </a>
      <a (click)="goTo('/shop')" class="m-2 text-white text-decoration-none div-pointer">

        <span class="fs-5">Tienda</span>
      </a>
    </nav>

    <div *ngIf="user">
      <div class="d-flex align-items-center bi m-2 dropdown ocultar me-5">
        <span (click)="goTo('/cart')" class="material-symbols-outlined">garden_cart</span>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="material-symbols-outlined bi m-2 dropdown ocultar">
            person
          </span>
          <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li *ngIf="user.rol.code != 'ARTISTA'">
            <a class="dropdown-item" (click)="goTo('/profile')">Perfil</a>
          </li>

          <div *ngIf="user.rol.code == 'ARTISTA'">
            <li>
              <a class="dropdown-item" (click)="goTo('/artist-profile')">Perfil</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="goTo('/new-song')">Subir canción</a></li>
            <li><a class="dropdown-item" (click)="goTo('/new-merchandising')">Subir merchandising</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </div>

          <div *ngIf="user.rol.code == 'ADMIN'">
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="goTo('/new-artist')">Nuevo artista</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </div>

          <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>

    <div *ngIf="!user">
      <div class="me-5">
        <span (click)="goTo('/login')" class="material-symbols-outlined">garden_cart</span>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <span (click)="goTo('/login')" class="material-symbols-outlined">
          person
        </span>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      </div>
    </div>
  </div>
</header>