<div class="form-back bg-size">
    <div class="row mx-auto">
        <div class="col-lg-10 mx-auto py-md-5">
            <h3 class="fs-4 text-pink">Tipo de productos</h3>
            <hr class="text-pink" />
        </div>
    </div>
    <form class="form-signin needs-validation">
        <div class="d-flex align-items-center row col-lg-10 mx-auto text-pink">
            <div class="row col-lg-12">
                <div class="col-12">
                    <label for="code" class="form-label text-pink title-new-song"><b>Code</b></label>
                    <input [(ngModel)]="code" name="code_product_type" type="text" class="form-control" id="code" placeholder=""
                        value="">
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto d-flex justify-content-end mt-5">
            <button class="btn btn-outline-light me-3" (click)="goTo('backoffice')">Cancelar</button>
            <button class="btn btn-light me-4" (click)="submit()">Añadir tipo de producto</button>
        </div>
    </form>

</div>