@import "../../../../assets/sass/variables";

.name {
    font-size: 450%;
    color: $primaryLightColor;
    margin-left: 5%;
}

.title-new-song {
    font-size: 125%;
}

.test {
    max-width: 100%;
}

.arreglo {
    margin-top: 30px;
    width: 100%;
}

.btn-back {
    background-color: $primaryColor;    
    border-radius: 6px;
}

.info {
    // font-size: 115%; // CASA
    // padding: 120px; // CASA
    padding: 30px; // odec
}

.color-link {
    color: $primaryLightColor;
}

.div-pointer {
    text-align: center;
    width: 50%;
    cursor: pointer
}

.bg-profile {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/backOG3.png?alt=media&token=07ca8e3a-0ce0-49a8-95d6-4a8c2add230d');
    background-size: cover;
}

#inputFile {
    display: none;
}

.labelInputFile {
    width: 200px;
    height: 200px;
    // border-radius: 100%;
    // background-color: lightblue;
    // position: absolute;
    padding: 1rem;
    box-shadow: 0 0 10px -1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.labelInputFile img {
    width: 200px;
    height: 200px;
    // border-radius: 100%;
}

.labelInputFile:active {
    transform: scale(0.9);
}

@media screen and (max-width: 767px) {
    .ocultar {
        display: none;
    }
}




.merchan-photo {
    height: 78vh;
}

.return-btn {
    position: fixed;
    top: 12vh;
    left: 0.4vw;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:10px;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 20px;
    // border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.input-group {
    width: 6rem;
}

.input-group button{
    width: 2rem;
}

.input-group input{
    width: 2rem;
}