<!-- CASA -->
<!-- <div class="">
    <main>
        <div class="bg-profile">
        <div class="col-lg-10 mx-auto p-3 py-md-5">
            <div class="d-flex align-items-center row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

                <div class="col">
                    <div class="card-body d-flex align-items-center">
                        <img src="https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/1-edit.png?alt=media&token=7bf7cb6d-f185-47aa-a892-428e91cc8c0f"
                            width="250px" height="250px" class="rounded-circle me-2">
                        <strong class="name">Raúl</strong>
                    </div>
                </div>

                <div class="col info py-md-5 row row-cols-1 row-cols-sm-3 row-cols-md-3">
                    <div class="col d-flex align-items-center">
                        <strong class="text-pink">0 canciones</strong>
                    </div>
                    <div class="col d-flex align-items-center">
                        <strong class="text-pink">0 seguidores</strong>
                    </div>
                    <div class="col d-flex align-items-center">
                        <strong class="text-pink">0 seguidos</strong>
                    </div>
                    <button class="btn btn-back text-white arreglo" (click)="edit()"><audio src="audio.mp3"></audio>Seguir</button>
                </div>

            </div>
        </div>
    </div>


        <div class="">
            <ul class="nav nav-tabs">
                <li class="nav-item div-pointer">
                    <a class="nav-link color-link active" id="canciones" aria-current="page" (click)="goTo('')">Canciones</a>
                </li>
                <li class="nav-item div-pointer">
                    <a class="nav-link color-link" id="albums" (click)="goTo('artistas')">Albums</a>
                </li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </main>
</div> -->

<!-- ODEC -->
<!-- <div class="">
    <main>
        <div class="bg-profile">
            <div class="mx-auto py-md-3">
                <div class="test d-flex align-items-center row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

                    <div class="col">
                        <div class="card-body d-flex align-items-center"> -->
                            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/1-edit.png?alt=media&token=7bf7cb6d-f185-47aa-a892-428e91cc8c0f" -->
                            <!-- <img src="{{foto}}" width="150px" height="150px" class="rounded-circle me-2">
                            <strong class="name">{{nombre}}</strong>
                        </div>
                    </div>

                    <div class="col info py-md-5 row row-cols-1 row-cols-sm-3 row-cols-md-3 mh-div">
                        <div class="col d-flex align-items-center">
                            <strong class="text-pink">{{totalMusic}} canciones</strong>
                        </div>
                        <div class="col d-flex align-items-center">
                            <strong class="text-pink">{{followers}} seguidores</strong>
                        </div>
                        <div class="col d-flex align-items-center">
                            <strong class="text-pink">{{getFollows()}} seguidos</strong>
                        </div>
                        <div *ngIf="logged()" class="arreglo">
                            <button *ngIf="!followed" class="btn btn-back text-white btn-lg-100"
                                (click)="follow()">Seguir</button>
                            <button *ngIf="followed" class="btn btn-gray text-black btn-lg-100"
                                (click)="unfollow()">Siguiendo</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="">
            <ul class="nav nav-tabs">
                <li class="nav-item div-pointer">
                    <a class="nav-link color-link active" id="canciones" aria-current="page"
                        (click)="menu(true)">Canciones</a>
                </li>
                <li class="nav-item div-pointer">
                    <a class="nav-link color-link" id="albums" (click)="menu(false)">Albums</a>
                </li>
            </ul> -->
            <!-- <div class="py-md-5 input-group mb-3 mt-5">
                <input type="file" accept=".mp3, .wav" class="form-control" id="inputGroupFile01" (change)="onUpload($event)">
            </div> -->
<!-- 
            <div class="col-lg-12 mx-auto p-3 py-md-1" *ngIf="opt">
                <main>
                    <div class="py-4">
                        <div class="py-2 row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                            <div *ngIf="bool" class="row d-flex justify-content-center align-items-center">
                                <div class="col-lg-12 d-flex justify-content-center align-items-center mb-2">
                                    <img class="no-music"
                                        src="https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/muted-music-icon.png?alt=media&token=7baaa303-3a1b-4373-98c2-84ef3785481f"
                                        width="50px" height="auto">
                                </div>
                                <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                    <p class="text-pink">Este usuario aún no tiene canciones</p>
                                </div>
                            </div>
                            <div class="col mt-music-panel" *ngFor="let c of music">
                                <div class="shadow-sm">
                                    <div class="card-body card-back padding-btw-col border-music-panel">
                                        <div class="row row-cols-1 row-cols-sm-5 row-cols-md-5 g-3 song-selector">
                                            <div class="col-lg-1"
                                                (click)="goTo('/cancion/' + c.id + '/profile%' + user.id)">
                                                <img class="music-cover me-2" src="{{c.foto}}" width="50px"
                                                    height="50px">
                                            </div>

                                            <div class="col-lg-4 d-flex align-items-center"
                                                (click)="goTo('/cancion/' + c.id + '/profile%' + user.id)">
                                                <strong class="text-pink">{{c.titulo}}</strong> -->
                                                <!-- 
                                                <span class="text-pink">Single</span>
            
                                                <small class="text-muted">9 mins</small> -->
                                            <!-- </div>
                                            <div class="col-lg-3 d-flex align-items-center"
                                                (click)="goTo('/cancion/' + c.id + '/profile%' + user.id)">
                                                <span class="text-pink no-salir">{{user.username}}</span>
                                            </div>
                                            <div class="col-lg-3 d-flex align-items-center"
                                                (click)="goTo('/cancion/' + c.id + '/profile%' + user.id)">
                                                <span class="text-pink no-salir">Single</span>
                                            </div> -->
                                            <!-- <div class="col-lg-1 d-flex align-items-center">
                                                <small class="text-muted"></small>
                                            </div> -->

                                            <!-- <div class="col-lg-1 d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="grey" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path
                                                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                </svg>
                                            </div> -->
                                            <!-- <div class="col-lg-1 d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                    fill="#ab6c6c" class="bi bi-play-circle-fill song-selector"
                                                    (click)="play(c)" viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                                                </svg>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <div *ngIf="!opt">
                Albums
            </div> -->
            <!-- <router-outlet></router-outlet> -->
        <!-- </div>
    </main>
</div> -->