<main>
  <div class="d-flex">
    <div class="bg-dark col-lg-2 mx-auto p-3 py-md-5 text-pink">
        <div class="d-flex justify-content-center align-items-center">
            <img class="rounded-circle" style="margin-bottom: 48px;" src="../../../assets/img/animated-capibara-with-a-crown.png" width="100px" height="100px" alt="profile image"/>
        </div>
        <div>
            <ul class="options-list">
              <li  (click)="goTo('')">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined me-2">edit</span>
                    <span>Editar perfil</span>
                </div>
              </li>
              <li  (click)="goTo('/change-password')">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined me-2">key</span>
                    <span>Cambiar contraseña</span>
                </div>
              </li>
              <li  (click)="goTo('/invoice')">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined me-2">calendar_month</span>
                    <span>Recibos</span>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <div class="col-lg-10 mx-auto p-5 py-md-5">
        <router-outlet></router-outlet>
    </div>
  </div>
</main>
