<div class="form-back bg-profile bg-size">
    <main>
        <div class="row mx-auto">
            <div class="col-lg-1 arreglo">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ab6c6c"
                    class="bi bi-arrow-left-circle-fill song-selector" (click)="back()" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </div>

            <div class="col-lg-10 py-md-5">
                <!-- <h3 class="text-pink"><b>Subir canción</b></h3> -->
                <div class="test mt-3 d-flex align-items-center row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">

                    <div class="col-lg-4">
                        <div class="d-flex align-items-center">
                            <img src="{{foto}}" width="200px" height="200px">
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <!-- <div class="row"> -->
                        <!-- <th><strong class="text-pink">Titulo</strong></th>
                            <tr><strong class="text-pink">Subir archivo</strong></tr> -->
                        <div>
                            <strong class="text-pink title-song">{{lista.nombre}}</strong>
                        </div>
                        <div>
                            <small class="text-muted song-selector"
                                (click)="goTo('/profile/' +user.id)">{{user.username}}</small>
                        </div>
                        <div class="mt-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ab6c6c"
                                class="bi bi-play-circle-fill song-selector margin-option" (click)="play()"
                                viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                            </svg>

                            <!-- <div class="bi m-2 dropdown ocultar">
                                <a href="#"
                                    class="d-flex align-items-center text-white text-decoration-none "
                                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey"
                                        class="bi bi-three-dots song-selector margin-option " viewBox="0 0 16 16">
                                        <path
                                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
                                    aria-labelledby="dropdownUser1">
                                    <li><a class="dropdown-item" (click)="goTo('/profile/' +user.id)">Añadir a lista</a></li>
                                </ul>
                            </div> -->

                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col">
                            
                        </div>
                        <div class="col">
                            
                        </div> -->
                </div>

            </div>
        </div>
        <div class="row-custom">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 ">
                <hr class="text-pink">
                <div class="col mt-music-panel mb-2" *ngFor="let c of canciones">
                    <div class="shadow-sm">
                        <div class="card-body card-back padding-btw-col border-music-panel">
                            <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 g-3 song-selector">
                                <div class="col-lg-1" (click)="goTo('/cancion/' + c.id + '/lista%' + lista.id)">
                                    <img class="music-cover me-2" src="{{c.foto}}" width="50px" height="50px">
                                </div>

                                <div class="col-lg-4 d-flex align-items-center" (click)="goTo('/cancion/' + c.id + '/lista%' + lista.id)">
                                    <strong class="text-pink no-salir">{{c.titulo}}</strong>
                                    <!-- 
                                    <span class="text-pink">Single</span>

                                    <small class="text-muted">9 mins</small> -->
                                </div>
                                <div class="col-lg-3 d-flex align-items-center" (click)="goTo('/cancion/' + c.id + '/lista%' + lista.id)">
                                    <span class="text-pink no-salir">{{user.username}}</span>
                                </div>
                                <div class="col-lg-3 d-flex align-items-center" (click)="goTo('/cancion/' + c.id + '/lista%' + lista.id)">
                                    <span class="text-pink">Single</span>
                                </div>
                                <!-- <div class="col-lg-1 d-flex align-items-center">
                                    <small class="text-muted"></small>
                                </div> -->

                                <!-- <div class="col-lg-1 d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey"
                                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </div> -->
                                <div class="col-lg-1 d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ab6c6c"
                                        class="bi bi-play-circle-fill song-selector" (click)="playSong(c)"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
                    <button class="btn btn-back text-white" (click)="goTo('/addsong/' +lista.id)">
                        Añadir Canción
                    </button>
                </div>
            </div>
        </div>

    </main>
</div>