.color-link {
    color: #ab6c6c;
}

.lista-inline {
    display: inline;
    margin-left: 10px;
}

.song-selector {
    cursor: pointer;
}

// .align-title-lista {

//     img, h5 {
//         display: flex;
//         align-items: center;
//     }
    
// }

.no-salir {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.div-pointer {
    cursor: pointer
}