<main class="bg-light">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button *ngFor="let b of banner, let i = index" type="button" data-bs-target="#carouselExampleCaptions"
                attr.data-bs-slide-to="{{i}}" class="{{ (i == 0) ? 'active' : '' }}" aria-current="true"
                attr.aria-label="Slide {{i}}"></button>
        </div>
        <div class="carousel-inner">
            <div *ngFor="let b of banner, let i = index" class="carousel-item {{ (i == 0) ? 'active' : '' }}">
                <img src="{{b.photo}}" class="d-block w-100" alt=""
                    style="height: 60vh; object-fit: cover; opacity: 0.5;" />
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: #0d0d0d;">{{b.artist.username}}</h5>
                    <p style="color: #0d0d0d;">{{b.description}}</p>
                    <a class="btn btn-dark mb-3" href="{{b.url}}" target="_blank">Escuchar ahora</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="col-lg-9 mx-auto py-md-4">
        <div class="display-flex row py-4">

            <div class="col-4">
                <div>
                    <nav class="navbar">
                        <div class="w-100 ">
                            <form class="col-lg-11" [formGroup]="form" role="search">
                                <strong class="text-dark">BÚSQUEDA</strong>
                                <div class="is-divider small"></div>
                                <input (keyup)="search()" formControlName="search"
                                    class="form-control mt-4 me-2 bg-light text-dark rounded-pill" type="search"
                                    placeholder="Search" aria-label="Search" />
                            </form>
                            <div class="col-lg-1"></div>
                        </div>
                    </nav>
                </div>
                <div class="text-dark" style="margin-right: 11%; margin-top: 8%;">
                    <strong>GÉNEROS</strong>
                    <div class="is-divider small"></div>
                    <div>
                        <ul class="genre-list">
                            <li *ngFor="let g of genres" (click)="filter(g.code)">
                                <span>{{g.code}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="margin-right: 11%; margin-top: 8%;">
                    <button type="button" (click)="filter('')" class="w-100 btn btn-outline-dark">Reiniciar
                        Filtros</button>
                </div>
            </div>
            <div class="col-8">
                <div class="py-2 row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <div (click)="goTo('/shop/' + a.id)" class="col" *ngFor="let a of merchan">
                        <div class="shadow-sm song-selector">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img class="mt-2 music-cover rounded-circle" src="{{ a.photo.photo }}" width="130px"
                                        height="130px" alt="{{ a.product.name }}" />
                                </div>
                                <div class="mt-3 d-flex justify-content-center align-items-center">
                                    <h5 class="text-dark no-salir">{{ a.product.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>