<div class="col-lg-10 mx-auto py-md-4">
    <main>
        <div class="py-4">
            <h3 class="fs-4 text-pink">Listas</h3>
            <hr class="text-pink">

            <div class="py-2 row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

                <div (click)="goTo('/lista/' +l.id)" class="col" *ngFor="let l of listas">
                    <div class="shadow-sm song-selector">
                        <div class="card-body card-back">
                            <img class="music-cover" src="{{l.foto}}" width="128.5px" height="128.5px">
                            <h5 class="text-pink no-salir">{{l.nombre}}</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>