.color-link {
    color: #ab6c6c;
}

.lista-inline {
    display: inline;
    margin-left: 10px;
}

.lista-size {
    width: 320px;
    height: 120px;
}

.song-selector {
    cursor: pointer;
}

.align-title-lista {
    align-items: center;
}

.div-pointer {
    cursor: pointer
}

.music-cover {
    margin-bottom: 15px;
}

.no-salir {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}