@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "assets/sass/variables";

.text-pink {
    color: $primaryLightColor;
    // color: #ab6c6c;
    /* margin-left: 5px; */
    text-decoration: none;
}

.card-back {
    /* background-color: #283034; */
    background-color: $primaryColor;
    // background-color: rgb(33,37,41);
}

.song-selector {
    cursor: pointer;
}

.bg-profile {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/samesouls-tfg.appspot.com/o/backOG3.png?alt=media&token=07ca8e3a-0ce0-49a8-95d6-4a8c2add230d');
    background-size: cover;
}

.bg-samesouls {
    // background-color: rgb(45, 50, 54);
    background-color: $primaryLightColor;
}

.bg-dark {
    background-color: $primaryColor !important;
}