<div class="form-back bg-profile bg-size">
    <main>
        <div class="row mx-auto">
            <div class="col-lg-1 arreglo">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ab6c6c"
                    class="bi bi-arrow-left-circle-fill song-selector" (click)="back()" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </div>

            <div>
                <nav class="navbar">
                    <div class="container-fluid row">
                        <div class="col-lg-1"></div>
                        <form class="col-lg-10 d-flex align-items-center justify-content-center" [formGroup]="form"
                            role="search">
                            <input (keyup)="search()" formControlName="search"
                                class="form-control me-2 bg-dark text-light rounded-pill" type="search"
                                placeholder="Search" aria-label="Search">
                            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                        </form>
                        <div class="col-lg-1"></div>
                    </div>
                </nav>
            </div>

            <div *ngIf="!busqueda">
                <div class="py-2 row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                    <div (click)="add(c.id)" class="col" *ngFor="let c of canciones">
                        <div class="shadow-sm song-selector">
                            <div class="card-body bg-dark">
                                <img class="music-cover" src="{{c.foto}}" width="128.5px" height="128.5px">
                                <h5 class="text-pink no-salir">{{c.titulo}}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="card-text text-muted">{{c.usuario.username}}</span>
                                    <!-- <small class="text-muted">{{getMin(c.cancion)}} min</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="busqueda">
                <div class="py-2 row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                    <div (click)="add(c.id)" class="col" *ngFor="let c of cancionesSearch">
                        <div class="shadow-sm song-selector">
                            <div class="card-body bg-dark">
                                <img class="music-cover" src="{{c.foto}}" width="128.5px" height="128.5px">
                                <h5 class="text-pink no-salir">{{c.titulo}}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="card-text text-muted">{{c.usuario.username}}</span>
                                    <!-- <small class="text-muted">{{getMin(c.cancion)}} min</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>