<div id="carouselExampleCaptions" class="carousel slide" style="height: 90vh;">
  <div class="carousel-indicators">
    <button *ngFor="let b of banner, let i = index" type="button" data-bs-target="#carouselExampleCaptions"
      attr.data-bs-slide-to="{{i}}" class="{{ (i == 0) ? 'active' : '' }}" aria-current="true"
      attr.aria-label="Slide {{i}}"></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let b of banner, let i = index" class="carousel-item {{ (i == 0) ? 'active' : '' }}">
      <img src="{{b.photo}}" class="d-block w-100" alt="" style="height: 90vh; object-fit: cover; opacity: 0.5;" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{b.artist.username}}</h5>
        <p>{{b.description}}</p>
        <a class="btn btn-light mb-3" href="{{b.url}}" target="_blank">Escuchar ahora</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section id="section-dispatcher" class="section-dispatcher">
  <div class="container">
    <div class="row">
      <div class="section-dispatcher-title">Descubre todo lo que ofrecemos</div>
      <div class="col-md-6" (click)="goTo('/artistas')">
        <div class="c-example__tilt js-tilt js-tilt-music transition-btn-one" data-tilt-perspective="1000"
          data-tilt-scale="1.05" data-tilt-speed="400" data-tilt-max="10" style="
            will-change: transform;
            transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
          ">
          <div class="c-example__tilt-overlay">
            <div class="c-example__tilt-txt">
              <div>
                <h2>Artistas.</h2>
                <p>
                  Prepárate para sentir la música en tu piel y deja que nuestros
                  artistas te lleven a un mundo lleno de emociones y
                  experiencias únicas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" (click)="goTo('/shop')">
        <div class="c-example__tilt js-tilt js-tilt-experiences transition-btn-two" data-tilt-perspective="1000"
          data-tilt-scale="1.05" data-tilt-speed="400" data-tilt-max="10" style="
            will-change: transform;
            transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
          ">
          <div class="c-example__tilt-overlay">
            <div class="c-example__tilt-txt">
              <div>
                <h2>Tienda.</h2>
                <p>
                  ¿Buscas llevar contigo la música de tus artistas favoritos?
                  ¡Entra en nuestra tienda y encuentra lo que necesitas para
                  hacerlo realidad!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>